# pymacaroons
# texttable
# tzlocal
# pygame
# bcrypt
# distro
# asgiref
# lockfile
# psycopg2
# monotonic
# djangorestframework-simplejwt
# pyparsing
# macaroonbakery
# uritools
# colorama
# importlib-metadata
# filelock
# pypng
# pypdf
# python-dotenv
# launchpadlib
# sqlparse
# idna
# paramiko
# dj-database-url
# httplib2
# urllib3
# pycparser
# websocket-client
# reportlab
# olefile
# language-selector
# webencodings
# cryptography
# ubuntu-drivers-common
# tinycss2
# ruff
# arabic-reshaper
# numpy
# docker-compose
# dockerpty
# cssselect2
# virtualenv
# jeepney
# protobuf
# pytz
# pyrsistent
# platformdirs
# asn1crypto
django-cors-headers
# pyxdg
# docker
# duplicity
# oauthlib
# svglib
# dbus-python
# docopt
# six
# pyhanko-certvalidator
# jsonschema
# future
# packaging
# djangorestframework
# typing_extensions
# django-dotenv
# charset-normalizer
# zipp
# ptyprocess
# certifi
# cffi
# keyring
# html5lib
# defer
gunicorn
# netifaces
# requests
# tzdata
# fasteners
# chardet
# more-itertools
# qrcode
# pillow
# python-bidi
# distlib
# ubuntu-pro-client
# oscrypto
# lxml
# wadllib
