{% extends "homepage_base.html" %}
{% load static %}
{% block title %} 
CHECKOUT
{% endblock %}
{% block style %} 

{% endblock %}
{% block page_name %} 
CHECKOUT
{% endblock %}
{% block content %} 
<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="checkout-accordion-wrap">
					<div class="accordion" id="accordionExample">
					  <div class="card single-accordion">
						<div class="card-header" id="headingOne">
						  <h5 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							  Billing Address
							</button>
						  </h5>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						  <div class="card-body">
							<div class="billing-address-form">
								<form id="address-form">
									{% csrf_token %}
									<p> <span id="name">{{ user.first_name }}</span></p>
									<p> <span id="name">{{ user.last_name }}</span></p>
									<p> <span id="name">{{ user.current_address.name }}</span></p>
									<p> <span id="number">{{ user.current_address.call_number }}</span></p>
									<p> <span id="email">{{ user.email }}</span></p>
									<p> <span id="house_name">{{ user.current_address.house_name }}</span></p>
									<p> <span id="post">{{ user.current_address.post }}</span></p>
									<p> <span id="city">{{ user.current_address.city }}</span></p>
									<p> <span id="state">{{ user.current_address.state }}</span></p>
									<p> <span id="pincode">{{ user.current_address.pincode }}</span></p>
									{% comment %} <button type="button" id="edit-address">Edit</button> {% endcomment %}
								</form>
								
								
							</div>
							<a href="address_check{{user.id}}/{{user.current_address.id}}" ><button style="border-color: orangered;outline: none;">Edit</button></a>
							<a href="chenge{{user.id}}"><button style="border-color: orangered;outline: none;">CHANGE</button></a>
						  </div>
						</div>
					  </div>
					  <div class="card single-accordion">
						
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						  <div class="card-body">
							<div class="shipping-address-form">
								<p>Your shipping address form is here.</p>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="card single-accordion">
						<div class="card-header" id="headingThree">
						  <h5 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							  peyment Details
							</button>
						  </h5>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						  <div class="card-body">
							<div class="card-details">
								<p>Your card details goes here.</p>
							</div>
						  </div>
						</div>
					  </div>
					</div>

				</div>
			</div>

			<div class="col-lg-4">
				<div class="order-details-wrap">
					<table class="order-details">
						<thead>
							<tr>
								<th>Your order Details</th>
								<th>Quantity</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody class="order-details-body">
							<tr>
								<td>Product</td>
								<td></td>
								<td>Total</td>
							</tr>
							{% for product in cart_obj %}
							<tr>
								<td>{{product.product_id.prodect_name}}</td>
								<td>{{product.book_quantity}}</td>
								<td>{{product.product_id.price}}</td>
							</tr>
							{% endfor %}
						</tbody>
						<tbody class="checkout-details">
							<tr>
								<td>Subtotal</td>
								<td></td>
								<td>{{subtotal }}₹</td>
							</tr>
							<tr>
								<td>Coupon Discount</td>
								<td></td>
								<td>-{{coupon_discount }}₹</td>
							</tr>
							<tr>
								<td>Shipping</td>
								<td></td>
								<td>{{ship}}₹</td>
							</tr>
							<tr>
								<td>Total</td>
								<td></td>

								<td>{{total}}₹</td>
							</tr>
						</tbody>
					</table>
					<!-- coupon -->
					
					<div class="coupon-section">
						<h3>Apply Coupon</h3>
						<div class="coupon-form-wrap">
							{% if coupon %}
							<button class="online-pay" id="coupon-cancel" style="background-color: red;">Cancel Coupon</button>

					        {% else %}
							<form id="coupon-form">
								<p><input type="text" id="coupon-code" placeholder="Coupon"></p>
								<p><input type="submit" value="Apply" id="apply-coupon"></p>
							</form>
					        {% endif %}
							{% if total < 1000 %}
							<br><button class="online-pay " style="margin-top: 10px;" id="rzp-button1">Online Pay</button>
							{% else %}
							<p style="color: orangered;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-weight: 600;">Online-Pay Only For Under 1000 Rupees</p>
							{% endif %}
							
					       <a href="cod_order" class="boxed-btn" id="place_order">Place Order</a>
					       {% if wallet > total %} <a href="wallet_order" class="boxed-btn" style="margin-top: 10px;" id="wallet_order">Wallet Pay</a>
						   {% else %}
						   <p style="color: orangered;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-weight: 600;">Your Wallet Did't Have Mouney</p>
						   {% endif %}

						</div>
					</div>
					<!-- end coupon -->
					
				</div>
			</div>
					</div>
	</div>
</div>
<!-- end check out section -->
{% endblock  %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
	$(document).ready(function() {
		$("#place_order").click(function(id) {
		  alert('order conform')
		console.log("Clicked on Details button for order ID:");
			{% comment %} $("#order_table").hide(); {% endcomment %}
			
	  });
		 
		
	});
	$(document).ready(function() {
		$("#wallet_order").click(function(id) {
		  alert('order conform')
		console.log("Clicked on Details button for order ID:");
			
			
	  });
		 
		
	});

	

	$(document).ready(function(){

		$('#coupon-form').submit(function(e){
			e.preventDefault();
			var couponCode = $('#coupon-code').val();
			console.log(couponCode)
			$.ajax({
				url: 'check_coupon_validity',
				method: 'POST',
				data: {
					'coupon_code': couponCode,
					csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				success: function(response){
					if(response.valid) {
						alert(response.message);
						window.location.href = '/checkout';
					} else {
						alert(response.message);
					}
				},
				error: function(xhr, errmsg, err){
					console.log(xhr.status + ": " + xhr.responseText);
				}
			});
		});
	});


	$(document).ready(function(){
		$('#coupon-cancel').click(function(e){
			e.preventDefault();
			$.ajax({
				url: '/coupon_cancel', // Change this to the correct URL
				method: 'POST',
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				success: function(response){
					alert(response.message); // Display a success message if needed
					// Reload the page or perform any other action as required
					location.reload();
				},
				error: function(xhr, errmsg, err){
					console.log(xhr.status + ": " + xhr.responseText);
				}
			});
		});
	});
	


</script>

{% endblock %}