
{% extends "account_base.html" %}
{% load static %}
{% block content %} 
<div class="card-body">
  <a href="/checkout"  ><button class="a_button">BACK</button></a><br>
  <form action="/address_check{{user.id}}/{{address.id}}" method="POST">
    {% csrf_token %}
    <br>
    <div class="detail_add"><input class="in form-control" value="{{address.name}}" type="text" placeholder="name" name='name'></div>
    <div class="detail_add"><input class="in form-control" value="{{address.call_number}}" type="text" placeholder="call_number" name='call_number'></div>
    <div class="detail_add"><input class="in form-control" value="{{address.house_name}}" type="text"  name='housename'></div>
    <div class="detail_add"><input class="in form-control" value="{{address.lanmark}}" type="text" placeholder="lanmark" name='lanmark'></div>
    <div class="detail_add"><input class="in form-control" value="{{address.post}}" type="text" placeholder="post" name='post'></div>
    <div class="detail_add"><input class="in form-control" value="{{address.city}}" type="text" placeholder="city" name='city'></div>
    <div class="detail_add"><input class="in form-control" value="{{address.state}}" type="text" placeholder="state" name='state'></div>
    <div class="detail_add"><input class="in form-control" value="{{address.pincode}}" type="number" placeholder="pincode" name='pincode'></div><br>
    <button type="submit" class="a_button"> EDIT</button>
    
  </form>
  
</div>
{% endblock %}