{% extends 'homepage_base.html' %}

{% block title %}
Order Success
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="order-success">
                <div class="success-icon">
                    <i class="fas fa-check-circle fa-5x"></i> <!-- Adjusted icon size -->
                </div>
                <h2>Your order has been placed successfully!</h2>
                <p>Thank you for shopping with us. Your order details are as follows:</p>
                {% comment %} <ul>
                    <li><strong>Order ID:</strong> {{ order_id }}</li>
                    <li><strong>Total Amount:</strong> ${{ total }}</li>
                    <!-- Add more order details here as needed -->
                </ul> {% endcomment %}
                <p>You will receive an email confirmation shortly.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}


