body {
    margin-top: 20px;
  }
  /* User Cards */
  .user-box {
    width: 110px;
    margin: auto;
    margin-bottom: 20px;
  }
  
 /*.user-box img {
    width: 100%;
    border-radius: 50%;
    padding: 3px;
    background: #fff;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  }*/
  /*
  Acoount messege icone
  */

  

  /* end coupon meesege */
  .profile-card-2 .card {
    position: relative;
  }
  .detail{
    padding-left: 10px;
    border-bottom: 2px solid #cdcdcd;
  }
  .span{
    /* border-bottom: 2px solid #cdcdcd; */
    line-height: 1.5;
    padding-left: 10px;
  }
  .detail:hover{
    border-bottom: 2px solid #cdcdcd;
    /* {% comment %} background-color: rgb(100, 199, 238); {% endcomment %} */
    border-radius: 20px;
  }
  .detail_add{
    border-bottom: 2px solid #cdcdcd;
    width:250px;;
  }.in{
    border: transparent;
    width: 250px;
  }
  
  .a_button{
    border: 2px solid #0091a4;
    border-radius: 80px;
    color: rgb(0, 180, 196);
    outline: none;
  }
  .a_button:hover{
    color: white;
    background-color: #008cff;
    border: transparent;
    outline: none;
  }
  .a_button_del{
    border: 2px solid #a40000;
    border-radius: 80px;
    color: rgb(196, 0, 0);
    outline: none;
  }
  .a_button_del:hover{
    color: white;
    background-color: #ff0000;
    border: transparent;
    outline: none;
  }
  .a_logout{
    border: 2px solid #b50808;
    border-radius: 80px;
    color: rgb(196, 20, 20);
    outline: none;
  }
  .a_logout:hover{
    border: transparent;
    border-radius: 80px;
    color:white;
    background-color: rgb(243, 63, 63);
    outline: none;
  }
  .edit_button{
    background-color: #038eff;
    border-color: transparent;
    border-radius: 5px;
    color: white;
  }
  .edit_button:hover{
    background-color: #015da8;
    outline: none;
    
  }
  .a_order{
    border-bottom: 2px grey;
  }
  
  .user_order{
    text-align: center;
    border-bottom: 2px solid #cdcdcd;
  }
  .name{
    font-weight: 600;
  }
  .status{
    font-weight: 600;
  }
  #deteil_page{
    display: none;
  }
  .retry{
    margin-top: 30px;
    margin-bottom: 10px;
    border-color: #ff8000;
    color: #ff8400;
    border-radius: 30px;
    font-weight: 600;
    outline: none; 
    transition: 700ms;
  }
  .retry:hover{
    color: white;
    background-color: #fd5e02
    ;
  }
  .order_cancel{
    margin-top: 30px;
    margin-bottom: 10px;
    border-color: #a40000;
    color: #a40000;
    border-radius: 30px;
    font-weight: 600;
    outline: none; 
    transition: 700ms;
  }
  .order_cancel:hover{
    color: white;
    background-color: #a40000
    ;
  }
  .order_back{
    border-color: #15ca20;
    color: #15ca20;
    border-radius: 30px;
    font-weight: 600;
    outline: none; 
    transition: 700ms;
    border-color: #15ca20;
    
    
  }
  .order_back:hover{
    color: white;
    background-color: #15ca20
    ;
  }
  .order_details{
    border: transparent;
    color: #008cff;
    font-weight: 600;
    outline: none; 
    border-radius: 30px;
    transition: 700ms;
  }.order_details:hover{
    background-color: #008cff;
    color: white
  }
  .profile-card-2 .card .card-body {
    z-index: 1;
  }
  
  .profile-card-2 .card::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    height: 112px;
    background-color: #e6e6e6;
  }
  
  .profile-card-2 .card.profile-primary::before {
    background-color: #008cff;
  }
  .profile-card-2 .card.profile-success::before {
    background-color: #15ca20;
  }
  .profile-card-2 .card.profile-danger::before {
    background-color: #fd3550;
  }
  .profile-card-2 .card.profile-warning::before {
    background-color: #ff9700;
  }
  .profile-card-2 .user-box {
    margin-top: 30px;
  }
  
  .profile-card-3 .user-fullimage {
    position: relative;
  }
  
  .profile-card-3 .user-fullimage .details {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
  }
  
  .profile-card-4 .user-box {
    width: 110px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  
  .profile-card-4 .list-icon {
    display: table-cell;
    font-size: 30px;
    padding-right: 20px;
    vertical-align: middle;
    color: #223035;
  }
  
  .profile-card-4 .list-details {
    display: table-cell;
    vertical-align: middle;
    font-weight: 600;
    color: #223035;
    font-size: 15px;
    line-height: 15px;
  }
  
  .profile-card-4 .list-details small {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 400;
    color: #808080;
  }
  
  /*Nav Tabs & Pills */
  .nav-tabs .nav-link {
    color: #223035;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 2px;
    margin-bottom: 0;
    padding: 12px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .nav-tabs .nav-link:hover {
    border: 1px solid transparent;
  }
  .nav-tabs .nav-link i {
    margin-right: 2px;
    font-weight: 600;
  }
  
  .top-icon.nav-tabs .nav-link i {
    margin: 0px;
    font-weight: 500;
    display: block;
    font-size: 20px;
    padding: 5px 0;
  }
  
  .nav-tabs-primary.nav-tabs {
    border-bottom: 1px solid #008cff;
  }
  
  .nav-tabs-primary .nav-link.active,
  .nav-tabs-primary .nav-item.show > .nav-link {
    color: #008cff;
    background-color: #fff;
    border-color: #008cff #008cff #fff;
    border-top: 3px solid #008cff;
  }
  
  .nav-tabs-success.nav-tabs {
    border-bottom: 1px solid #15ca20;
  }
  
  .nav-tabs-success .nav-link.active,
  .nav-tabs-success .nav-item.show > .nav-link {
    color: #15ca20;
    background-color: #fff;
    border-color: #15ca20 #15ca20 #fff;
    border-top: 3px solid #15ca20;
  }
  
  .nav-tabs-info.nav-tabs {
    border-bottom: 1px solid #0dceec;
  }
  
  .nav-tabs-info .nav-link.active,
  .nav-tabs-info .nav-item.show > .nav-link {
    color: #0dceec;
    background-color: #fff;
    border-color: #0dceec #0dceec #fff;
    border-top: 3px solid #0dceec;
  }
  
  .nav-tabs-danger.nav-tabs {
    border-bottom: 1px solid #fd3550;
  }
  
  .nav-tabs-danger .nav-link.active,
  .nav-tabs-danger .nav-item.show > .nav-link {
    color: #fd3550;
    background-color: #fff;
    border-color: #fd3550 #fd3550 #fff;
    border-top: 3px solid #fd3550;
  }
  
  .nav-tabs-warning.nav-tabs {
    border-bottom: 1px solid #ff9700;
  }
  
  .nav-tabs-warning .nav-link.active,
  .nav-tabs-warning .nav-item.show > .nav-link {
    color: #ff9700;
    background-color: #fff;
    border-color: #ff9700 #ff9700 #fff;
    border-top: 3px solid #ff9700;
  }
  
  .nav-tabs-dark.nav-tabs {
    border-bottom: 1px solid #223035;
  }
  
  .nav-tabs-dark .nav-link.active,
  .nav-tabs-dark .nav-item.show > .nav-link {
    color: #223035;
    background-color: #fff;
    border-color: #223035 #223035 #fff;
    border-top: 3px solid #223035;
  }
  
  .nav-tabs-secondary.nav-tabs {
    border-bottom: 1px solid #75808a;
  }
  .nav-tabs-secondary .nav-link.active,
  .nav-tabs-secondary .nav-item.show > .nav-link {
    color: #75808a;
    background-color: #fff;
    border-color: #75808a #75808a #fff;
    border-top: 3px solid #75808a;
  }
  
  .tabs-vertical .nav-tabs .nav-link {
    color: #223035;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 2px;
    margin-right: -1px;
    padding: 12px 1px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  
  .tabs-vertical .nav-tabs {
    border: 0;
    border-right: 1px solid #dee2e6;
  }
  
  .tabs-vertical .nav-tabs .nav-item.show .nav-link,
  .tabs-vertical .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 1px solid #dee2e6;
    border-right: 0;
    border-left: 1px solid #dee2e6;
  }
  
  .tabs-vertical-primary.tabs-vertical .nav-tabs {
    border: 0;
    border-right: 1px solid #008cff;
  }
  
  .tabs-vertical-primary.tabs-vertical .nav-tabs .nav-item.show .nav-link,
  .tabs-vertical-primary.tabs-vertical .nav-tabs .nav-link.active {
    color: #008cff;
    background-color: #fff;
    border-color: #008cff #008cff #fff;
    border-bottom: 1px solid #008cff;
    border-right: 0;
    border-left: 3px solid #008cff;
  }
  
  .tabs-vertical-success.tabs-vertical .nav-tabs {
    border: 0;
    border-right: 1px solid #15ca20;
  }
  
  .tabs-vertical-success.tabs-vertical .nav-tabs .nav-item.show .nav-link,
  .tabs-vertical-success.tabs-vertical .nav-tabs .nav-link.active {
    color: #15ca20;
    background-color: #fff;
    border-color: #15ca20 #15ca20 #fff;
    border-bottom: 1px solid #15ca20;
    border-right: 0;
    border-left: 3px solid #15ca20;
  }
  
  .tabs-vertical-info.tabs-vertical .nav-tabs {
    border: 0;
    border-right: 1px solid #0dceec;
  }
  
  .tabs-vertical-info.tabs-vertical .nav-tabs .nav-item.show .nav-link,
  .tabs-vertical-info.tabs-vertical .nav-tabs .nav-link.active {
    color: #0dceec;
    background-color: #fff;
    border-color: #0dceec #0dceec #fff;
    border-bottom: 1px solid #0dceec;
    border-right: 0;
    border-left: 3px solid #0dceec;
  }
  
  .tabs-vertical-danger.tabs-vertical .nav-tabs {
    border: 0;
    border-right: 1px solid #fd3550;
  }
  
  .tabs-vertical-danger.tabs-vertical .nav-tabs .nav-item.show .nav-link,
  .tabs-vertical-danger.tabs-vertical .nav-tabs .nav-link.active {
    color: #fd3550;
    background-color: #fff;
    border-color: #fd3550 #fd3550 #fff;
    border-bottom: 1px solid #fd3550;
    border-right: 0;
    border-left: 3px solid #fd3550;
  }
  
  .tabs-vertical-warning.tabs-vertical .nav-tabs {
    border: 0;
    border-right: 1px solid #ff9700;
  }
  
  .tabs-vertical-warning.tabs-vertical .nav-tabs .nav-item.show .nav-link,
  .tabs-vertical-warning.tabs-vertical .nav-tabs .nav-link.active {
    color: #ff9700;
    background-color: #fff;
    border-color: #ff9700 #ff9700 #fff;
    border-bottom: 1px solid #ff9700;
    border-right: 0;
    border-left: 3px solid #ff9700;
  }
  
  .tabs-vertical-dark.tabs-vertical .nav-tabs {
    border: 0;
    border-right: 1px solid #223035;
  }
  
  .tabs-vertical-dark.tabs-vertical .nav-tabs .nav-item.show .nav-link,
  .tabs-vertical-dark.tabs-vertical .nav-tabs .nav-link.active {
    color: #223035;
    background-color: #fff;
    border-color: #223035 #223035 #fff;
    border-bottom: 1px solid #223035;
    border-right: 0;
    border-left: 3px solid #223035;
  }
  
  .tabs-vertical-secondary.tabs-vertical .nav-tabs {
    border: 0;
    border-right: 1px solid #75808a;
  }
  
  .tabs-vertical-secondary.tabs-vertical .nav-tabs .nav-item.show .nav-link,
  .tabs-vertical-secondary.tabs-vertical .nav-tabs .nav-link.active {
    color: #75808a;
    background-color: #fff;
    border-color: #75808a #75808a #fff;
    border-bottom: 1px solid #75808a;
    border-right: 0;
    border-left: 3px solid #75808a;
  }
  
  .nav-pills .nav-link {
    border-radius: 0.25rem;
    color: #223035;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 3px;
    padding: 12px 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .nav-pills .nav-link:hover {
    background-color: #f4f5fa;
  }
  
  .nav-pills .nav-link i {
    margin-right: 2px;
    font-weight: 600;
  }
  
  .top-icon.nav-pills .nav-link i {
    margin: 0px;
    font-weight: 500;
    display: block;
    font-size: 20px;
    padding: 5px 0;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #008cff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 140, 255, 0.5);
  }
  
  .nav-pills-success .nav-link.active,
  .nav-pills-success .show > .nav-link {
    color: #fff;
    background-color: #15ca20;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(21, 202, 32, 0.5);
  }
  
  .nav-pills-info .nav-link.active,
  .nav-pills-info .show > .nav-link {
    color: #fff;
    background-color: #0dceec;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(13, 206, 236, 0.5);
  }
  
  .nav-pills-danger .nav-link.active,
  .nav-pills-danger .show > .nav-link {
    color: #fff;
    background-color: #fd3550;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(253, 53, 80, 0.5);
  }
  
  .nav-pills-warning .nav-link.active,
  .nav-pills-warning .show > .nav-link {
    color: #fff;
    background-color: #ff9700;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 151, 0, 0.5);
  }
  
  .nav-pills-dark .nav-link.active,
  .nav-pills-dark .show > .nav-link {
    color: #fff;
    background-color: #223035;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(34, 48, 53, 0.5);
  }
  
  .nav-pills-secondary .nav-link.active,
  .nav-pills-secondary .show > .nav-link {
    color: #fff;
    background-color: #75808a;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(117, 128, 138, 0.5);
  }
  .card .tab-content {
    padding: 1rem 0 0 0;
  }
  
  .z-depth-3 {
    -webkit-box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  }