.add_card {
    background-color: rgba(204, 204, 204, 0.247);
    box-shadow: 4px 8px 9px -2px #c7c5d8;
    -webkit-box-shadow: 4px 8px 9px -2px #c7c5d8;
    -moz-box-shadow: 4px 8px 9px -2px #c7c5d8;
    -ms-box-shadow: 4px 8px 9px -2px #c7c5d8;
    margin: 20px;
  }
  
  .add-stretch-card{
    /* display: -webkit-flex; */
    /* display: flex; */
  /* -webkit-align-items: stretch; */
  /* align-items: stretch; */
  /* -webkit-justify-content: stretch; */
  justify-content: stretch;
  margin: 20px;
  width: 800px;
  /* height: 850px; */
  margin-left: 80px;
  /* position:static; */
  background-color: white;
  padding-top: 10px 
  }
  .admin_add{
    background-color: white; 
    font-size: larger;
    border-color: rgb(7, 255, 7); 
    font-weight: 600; color: rgb(7, 255, 7); 
    margin-top: 20px;
    border-radius: 20px;
  }

.inputbox{
    border-color: transparent;
    background-color: transparent;
    padding-right: 30px;
}
.placehold{
    color: #5a5a5a;
}
.submit{
  background-color: #6d6d6dd0;
  color: white;
  box-shadow: 4px 8px 9px -2px #c7c5d8;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  border-radius: 20px;
  width: 100px;
  height: 40px;
}