.add_card {
  background-color: rgba(204, 204, 204, 0.247);
  box-shadow: 4px 8px 9px -2px #c7c5d8;
  margin: 20px;
  padding: 10px;
}

.add-stretch-card {
  margin: 20px;
  width: 800px;
  background-color: white;
  padding-top: 10px;
}

.message {
  color: red;
  margin-left: 50px;
}

.inputbox {
  border: none;
  background-color: transparent;
  width: 100%;
  margin-bottom: 10px;
}

.submit {
  background-color: #6d6d6dd0;
  color: white;
  box-shadow: 4px 8px 9px -2px #c7c5d8;
  display: block;
  margin: 20px auto;
  border-radius: 20px;
  width: 100px;
  height: 40px;
}
