{% extends "homepage_base.html" %}
{% load static %}
{% block title %} 
SINGLE SHOP
{% endblock %}
{% block style %} 
<link rel="stylesheet" href="{% static "assets/css/manage_new1.css" %}">
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
{% endblock%}
{% block page_name %} 
SINGLE SHOP
{% endblock %}
{% block content %} 
<!-- single product -->
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img" style="border-radius: 30px;">
                    {% if img is None %}<img src="{{single_product.prodect_image1.url}}" alt=""> {% elif img == 1 %} <img src=" {{single_product.prodect_image1.url}}" alt=""> {% elif img == 2%}<img src=" {{single_product.prodect_image2.url}}" alt=""> {% elif img == 3%} <img src="{{single_product.prodect_image3.url}}" alt=""> {% endif %}
                </div>
                <div class='multi_img' >
                    {% if single_product.prodect_image1 %} <a href="/single_prodect{{ single_product.id}}"><img class="multi_image_item" src=" {{single_product.prodect_image1.url}}" alt=""></a> {% endif %}
                    {% if single_product.prodect_image2 %} <a href="/single_prodect_img/{{ single_product.id}}/{{2}}"><img class="multi_image_item" src=" {{single_product.prodect_image2.url}}" alt=""></a>{% endif %}
                    {% if single_product.prodect_image3 %} <a href="/single_prodect_img/{{ single_product.id}}/{{3}}"><img class="multi_image_item" src=" {{single_product.prodect_image3.url}}" alt=""></a>{% endif %}
               </div>
            </div>
            
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3>{{single_product.prodect_name| upper}}</h3>
                    {% if offer %}
                    <p class="single-product-pricing"><span>Per Kg</span> </p>
                    <del><p class="single-product-pricing">{{single_product.price}} ₹</p></del>
                    <p class="single-product-pricing" style="color: green;">Now :{{amount}} ₹</p>
                    {% else %}
                    <p class="single-product-pricing"><span>Per Kg</span> {{single_product.price}} ₹</p>
                    {% endif %}
                    <p>{{single_product.description}}</p>
                    <div class="single-product-form">
                        <form action="add_cart{{ single_product.id }}/" method="POST">
                            {% csrf_token %}
                            <input type="number" min='1' start placeholder="0" name='quantity'><p class="single-product-pricing"></p>
                            {% if left %}
                            <p style="color: red; ">{{single_product.quantity}}&nbsp;Kg is Only Left</p>
                            {% endif %}
                            <p>Rating&nbsp;:&nbsp;{{single_product.rating}}</p>
                            {% comment %} <a class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a> {% endcomment %}
                            <button style="border: 0ch;background-color: transparent;outline: none;" type="submit"><a class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a></button>
                        </form>
                        <div id = 'wishlist_id' >
                          {% if wish %}
    <button type="button" id="true" style="border: 0; background-color: transparent; outline: none;" class="wishlist-btn" data-product-id="{{ single_product.id }}">
        <a href="wishlist_new{{single_product.id}}">
            <i style="color: red; font-size: 50px;" class="ri-heart-3-line"></i>
        </a>
    </button>
{% else %}
    <button type="button" id="False" style="border: 0; background-color: transparent; outline: none;" class="wishlist-btn" data-product-id="{{ single_product.id }}">
        <a href="wishlist_new{{single_product.id}}">
            <i style="color: red; font-size: 50px;" class="ri-heart-3-fill"></i>
        </a>
    </button>
{% endif %}

                        </div>

                    
                        {% if messages %}
                    <ul >
                      {% for messages in messages %}
                      <h3 style="color: orangered ;  " >{{messages}}</h3>
                      {% endfor %}
                     </ul>
                     {% endif %}
                        <p><strong>Categories: </strong>{{cate.name}}</p>
                        <p><strong>variant: </strong>{{var.variant_name}}</p>
                    </div>
                    <h4>Share:</h4>
                    <ul class="product-share">
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
<!-- end single product -->
{% endblock %}

{% block script %}
$(document).ready(function(){
    $('.wishlist-btn').click(function(e){
        e.preventDefault();
        console.log('halloo ')
        var productId = $(this).data('product-id');
        $.ajax({
            url: '/wishlist/' + productId,
            method: 'GET',
            success: function(response){
                location.reload(); 
                {% comment %} $('#wishlist_id').load(window.location.href + ' #wishlist_id'); {% endcomment %}
            },
            error: function(xhr, errmsg, err){
              location.reload();
              {% comment %} $('#wishlist_id').load(window.location.href + ' #wishlist_id'); {% endcomment %}
                console.log('error,failed');
            }
        });
    });
});

{% endblock  %}