{% extends "admin_base.html" %}
{% load static %}
{% block title %} 
Add Product
{% endblock %}
{% block style %} 
<link rel="stylesheet" href="{% static 'assets/css/add.css' %}">
{% endblock %}
{% block page_name %} 
Add Product
{% endblock %}
{% block content %} 
<div class="row">
  <div class="col-md-5 grid-margin add-stretch-card">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <h3 class="message">{{ message }}</h3>
        {% endfor %}
      </ul>
    {% endif %}
    <form action="add_product" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="add_card">
        <div class="card-body">
          <input class="inputbox" type="text" name="product_name" id="product_name" placeholder="Product Name">
        </div>
      </div>
      <div class="add_card">
        <div class="card-body">
          <select class="inputbox" name="category" id="category">
            {% for category in categories %}
              <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="add_card">
        <div class="card-body">
          <input class="inputbox" type="text" name="description" id="description" placeholder="Description">
        </div>
      </div>
      <div class="add_card">
        <div class="card-body">
          <input class="inputbox" type="number" min="1" name="price" id="price" placeholder="Price per kg">
        </div>
      </div>
      <div class="add_card">
        <div class="card-body">
          <input class="inputbox" type="number" min="0" name="quantity" id="quantity" placeholder="Total quantity">
        </div>
      </div>
      <div class="add_card">
        <div class="card-body">
          <select class="inputbox" name="variant" id="variant">
            {% for variant in variants %}
              <option value="{{ variant.id }}">{{ variant.variant_name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="add_card">
        <div class="card-body">
          <input class="inputbox" type="file" name="image1" id="image1" placeholder="Image 1">
        </div>
      </div>
      <div class="add_card">
        <div class="card-body">
          <input class="inputbox" type="file" name="image2" id="image2" placeholder="Image 2">
        </div>
      </div>
      <div class="add_card">
        <div class="card-body">
          <input class="inputbox" type="file" name="image3" id="image3" placeholder="Image 3">
        </div>
      </div>
      <button class="submit" type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
