{% extends "admin_base.html" %}
{% load static %}
{% block title %}
    Category
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'assets/css/add.css' %}">
{% endblock %}
{% block page_name %}
    Category
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 grid-margin add-stretch-card">
        <form action="{% url 'category' %}" method="post" enctype="multipart/form-data">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="message">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% csrf_token %}
            <div class="form-group">
                <label for="category_name">Category Name</label>
                <input class="inputbox" type="text" name="category_name" id="category_name" placeholder="Category Name" required>
            </div>
            <div class="form-group">
                <label for="category_description">Description</label>
                <input class="inputbox" type="text" name="category_description" id="category_description" placeholder="Description" required>
            </div>
            <div class="form-group">
                <label for="category_image">Category Image</label>
                <input class="inputbox" type="file" name="category_image" id="category_image">
            </div>
            <button class="submit" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
