{% extends "admin_base.html" %}
{% load static %}
{% block title %} 
Deleted
{% endblock %}
{% block style %} 
<link rel="stylesheet" href="{% static "assets/css/manage_new.css" %}">
{% endblock %}
{% block page_name %} 
Deleted
{% endblock %}
{% block content %} 
<div class='row' >
  <div class="col-md-5 grid-margin add-stretch-card">
    <table id="customers" border="1">
      <thead>
          <th>Id</th>
          <th>Product image</th>
          <th>Name</th>
          <th>Price</th>
          <th>total quantity</th>
          <th colspan="2" id="mid">Action</th>
      </thead>
      {% for x in unlist %}
      <tr>
          <td>{{x.id}}</td>
          <td> {% if x.prodect_image1 %} <img class="square-50" src=" {{x.prodect_image1.url}}" alt="">{% endif %}</td>
          <td>{{x.prodect_name}}</td>
          <td>{{x.price}}₹ /kg</td>
          <td>{{x.quantity}}kg</td>
          <td>
              <a href="readd{{x.id}}"><button id="up">Re Add</button></a>
          </td>
          <td>
              <a href="delete{{x.id }}"><button id="del">Delete</button></a>
          </td>
      </tr>
      {% endfor %}
  </table>
  </div>
</div>


{% endblock %}



