{% extends "admin_base.html" %}
{% load static %}
{% block title %} 
Orders
{% endblock %}
{% block style %} 
<link rel="stylesheet" href="{% static "assets/css/manage_new.css" %}">
{% endblock %}
{% block page_name %} 
Orders
{% endblock %}
{% block content %} 
<div class='row' >
  <div class="col-md-5 grid-margin add-stretch-card">
    <table id="customers" border="1">
      <thead>
          <th>DP</th>
          <th>Order ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Status</th>
          <th>Payment</th>
          <th>Order Date</th>
          <th colspan="2" id="mid">Action</th>
      </thead>
      {% for x in order %} 
      <tr>
        <td> {% if x.user.user_dp %} <img class="square-50" src=" {{x.user.user_dp}}" alt="">{% endif %}</td> 
        <td>{{x.order_id}}</td>  
        <td>{{x.user.username}}</td>
          <td>{{x.total_price}} ₹</td>
          <td {% if x.status == 'Pending' %} style="color: orange;" {% elif x.status == 'Deliverd' %} style="color: green;" {% elif x.status == 'Ordered' %} style="color: yellow;" {% elif  x.status == 'Cancel' %} style="color: red;" {% else %} style="color :orangered" {% endif %}>{{x.status}}</td><!--x.status == 'Deliverd'-->
          <td>{{x.payment_method}}</td>
          <td>{{x.created}}</td>
          <td><a href="orders_deteils_admin{{x.id}}"><button id="up">Details</button></a> </td>
          

          
      </tr>
      {% endfor %} 
  </table>
  </div>
</div>


{% endblock %}



